---
const {company} = Astro.props;
---
<article>
    <h1>{company.companyname}</h1>
    <img src=`https://qeoxxkgbtrpnlhjhgkqx.supabase.co/storage/v1/object/public/imgcases/${company.image}` alt="case image">
    
    </article>