---
const { company } = Astro.props;
import Read from "../components/Read.astro";
---

<article>
  <h2>{company.companyname}</h2>
  <img src=`https://qeoxxkgbtrpnlhjhgkqx.supabase.co/storage/v1/object/public/imgcases/${company.image}` alt="case image" />
  <Read />
</article>
