<div class="toki-wrapper">
  <img class="toki" src="/assets/toki-flow.png" alt="Toki flow" />

  <a class="point insight" href="/insight">Insight</a>
  <a class="point vision" href="/vision">Vision</a>
  <a class="point identity" href="/identity">Identity</a>
  <a class="point solution" href="/solution">Solution</a>
  <a class="point strategy" href="/strategy">Strategy</a>
</div>

<style>
  .toki-wrapper {
    position: relative;
    width: 100%;
    max-width: 650px;
    margin: 2 auto;
  }

  .toki {
    width: 100%;
    display: block;
  }

  .point {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    z-index: 3;
    text-decoration: none;
  }

  .insight,
  .solution {
    color: rgb(255, 251, 251);
  }
  /* 👇 KORREKTE placeringer */
  .insight {
    top: 12%;
    left: 28%;
  }
  .vision {
    top: 13%;
    left: 78%;
  }
  .identity {
    top: 59%;
    left: 90%;
  }
  .solution {
    top: 59%;
    left: 14%;
  }
  .strategy {
    top: 88%;
    left: 53%;
  }

  /* Mobil: kun mindre tekst */
  @media (max-width: 768px) {
    .point {
      font-size: 0.9rem;
    }
  }
</style>
