body {
  background-color: #fff8f1;
  font-family: Nunito Sans, sans-serif;
}

@media (max-width: 768px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}
