@font-face {
  font-family: "Nunito";
  src: url("/public/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}
body {
  background-color: #fff8f1;

  line-height: 1.6rem;
}
p,
h1,
h2,
h3,
footer p {
  font-family: "Nunito";
}
p {
  color: #311407;
  font-size: 18px;
}
footer p {
  color: #fff8f1;
}

h1 {
  font-size: 64px;
  color: #3a544a;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 26px;
}
@media (max-width: 768px) {
  p,
  h1,
  h2,
  h3,
  footer p {
    font-family: "Nunito";
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}
